  <script type="text/javascript">
    window.Lunokhod = Ember.Namespace.create();
    window.Lunokhod.Survey = Ember.Application.create();

    <%= question_object_defs.join("\n") %>
  </script>

  <!-- generated in <%= total %> seconds -->
  </body>
</html>
