<!DOCTYPE html>
<html>
  <head>
    <meta name="generator" value="Lunokhod <%= ::Lunokhod::VERSION %>">
    <meta charset="utf-8">
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/handlebars.js"></script>
    <script src="javascripts/ember.js"></script>
    <script src="javascripts/lunokhod.js"></script>
  </head>
  <body>
    <script type="text/x-handlebars">
      <article class="lunokhod-survey">
        <header>
          <h1>{{title}}</h1>
        </header>
        {{#each section in sections}}
          <section class="lunokhod-section">
            <header>
              <h1>{{section.title}}</h1>
            </header>
            <ol>
            </ol>
          </section>
        {{/each}}
      </article>
    </script>
