<!DOCTYPE html>
<html>
  <head>
    <meta name="generator" value="Lunokhod <%= ::Lunokhod::VERSION %>">
    <meta charset="utf-8">
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/handlebars.js"></script>
    <script src="javascripts/ember.js"></script>
  </head>
  <body>
    <script type="text/javascript">
      window.Lunokhod = Ember.Application.create();

      window.Lunokhod.Survey = Ember.Object.extend({
        getSectionByUuid: function(uuid) {
          var sections = this.get('sections');

          if (sections) {
            for(var i = 0; i < sections.length; ++i) {
              if (sections[i].get('uuid') === uuid) {
                return sections[i];
              }
            }
          }

          return null;
        }
      });

      window.Lunokhod.Section = Ember.Object.extend({
      });

      window.Lunokhod.Question = Ember.Object.extend({
      });

      Lunokhod.ApplicationController = Ember.ObjectController.extend({
        contentBinding: 'Lunokhod.survey'
      });
    </script>
    <script type="text/x-handlebars">
      <article class="lunokhod-survey">
        <header>
          <h1>{{title}}</h1>
        </header>
        {{#each section in sections}}
          <section class="lunokhod-section">
            <header>
              <h1>{{section.title}}</h1>
            </header>
            <ol>
            </ol>
          </section>
        {{/each}}
      </article>
    </script>
