<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/handlebars.js"></script>
    <script type="text/javascript" src="javascripts/ember.js"></script>
    <script type="text/javascript" src="javascripts/lunokhod.js"></script>
  </head>
  <body>
    <script type="text/javascript">
      %%SPLIT%%
    </script>
  </body>
</html>
